/* web/styles.css */

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* background-color: #f0f0f0; */
}

h2 {
    color: #333;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
